<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2013 Durgesh Trivedi

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program. If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.durgesh"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>

    <application
        android:icon="@drawable/contacthub"
        android:label="@string/application_name"
        android:process="android.contacthub" >
        <activity
            android:name="com.durgesh.contacthub.ContactHub"
            android:clearTaskOnLaunch="true"
            android:label="@string/application_name"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.durgesh.contacthub.squick.DirectDialActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.durgesh.pref.SQPreference"
            android:label="@string/application_name" >
        </activity>
        <activity
            android:name="com.durgesh.contacthub.squick.DirectAppActivity"
            android:clearTaskOnLaunch="true"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:configChanges="keyboardHidden|orientation" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.durgesh.util.SuperQuickHelp"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="org.brickred.socialauth.android.SocialAuthAdapter"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/application_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <receiver android:name="com.durgesh.service.SQBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.durgesh.service.SQService" />

        <provider
            android:name="com.durgesh.model.ContactIconProvider"
            android:authorities="com.durgesh.quick" />
    </application>

</manifest>